<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DICTIONARY_API_KEY</key>
	<string>$(DICTIONARY_API_KEY)</string>
	<key>KAKAO_API_KEY</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>NAVER_CLIENT_KEY</key>
	<string>$(NAVER_CLIENT_KEY)</string>
	<key>NAVER_SECRET_KEY</key>
	<string>$(NAVER_SECRET_KEY)</string>
</dict>
</plist>
